<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Calculator</title>
</head>
<body>
<div>
<ul class="list-group">
  <li class="list-group-item"><div class="checkbox">
    <label><input type="checkbox" value="">Name:<input type="text"> Price: <input type="text" disabled></label>
  </div></li>
  <li class="list-group-item"><div class="checkbox">
    <label><input type="checkbox" value="">Name:<input type="text"> Price: <input type="text" disabled></label>
  </div></li>
  <li class="list-group-item"><div class="checkbox">
    <label><input type="checkbox" value="">Name:<input type="text"> Price: <input type="text" disabled></label>
  </div></li>
  <li class="list-group-item"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></li>
  <li class="list-group-item">Total: <input type="text" disabled> </li>

</ul>
  <li class="list-group-item"><button type="button" class="btn btn-primary">Submit</button></li>

</div>
</body>
</html>
