<div>
<input id="searchInput" type="text" class="form-control substance" ng-model="param" ng-keyup="update()" placeholder="Caută după substanță"></input>
<br />

<table class="table table-striped table-hover substances" ng-init="init()">
	<thead>
		<th>Nume</th>
		<th class="noC">Concentrație</th>
		<th>Substanță activă</th>
		<th>Formă</th>
    	<th class="noF">Firmă</th>
		<th>Preț</th>
    <th>+/-</th>
	</thead>
	<tbody>
		<tr ng-repeat="med in meds">
			<td>{{med.den_produs}}</td>
			<td class="noC">{{med.concentr}}</td>
			<td ng-click="currentMed(med)">{{med.den_produs}}</td>
			<td>{{med.concentr}}</td>
			<td ng-click="update(med.dci)" class="hover-custom">{{med.dci}}</td>
			<td>{{med.forma}}</td>
      		<td class="noF">{{med.firma}}</td>
			<td>{{med.pret_am}}</td>
      <td>
        <button id="{{med._id}}"type="button" ng-click="moveToPrice(med)" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <button data-id="{{med._id}}"type="button" ng-click="removeFromPrice(med)" class="btn btn-warning mtop"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
      </td>
		</tr>
	</tbody>
</table>



  <div class="panel panel-green">
    <div class="panel-heading">
      <h3 class="panel-title">Lista produse alese</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <th>Nume</th>
        <th>Cantitate</th>
        <th>Pret</th>
        </thead>
        <tbody>
        <tr ng-repeat="med in priceList">
          <td>{{med.den_produs}}</td>
          <td>{{med.nrprod}}</td>
          <td>{{med.pret_am}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">Pret estimativ: {{total}}</div>
  </div>

  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">{{med.den_produs}}</h3>
    </div>
    <div class="modal-body">
      <ul>
        <li>
          {{med.pret_am}}
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>

</div>

