<input type="text" class="form-control substance" ng-model="param" ng-keyup="update()" placeholder="Caută după substanță"></input>
<br />
<table class="table table-hover substances">
	<thead>
		<th>Nume</th>
		<th>Concentrație</th>
		<th>Substanță activă</th>
		<th>Ambalaj</th>
		<th>Formă</th>
		<th>Preț</th>
	</thead>
	<tbody>
		<tr ng-repeat="med in meds">
			<td>{{med.den_produs}}</td>
			<td>{{med.concentr}}</td>
			<td>{{med.dci}}</td>
			<td>{{med.ambalaj}}</td>
			<td>{{med.forma}}</td>
			<td>{{med.pret_am}}</td>	
		</tr>
	</tbody>
</table>